<h2>О сайте</h2>
<br>
<h3>Рад вас видеть на сайте. Этот сайт для тех, кто изучает языки программирования. На сайте представлены или будут представлены такие языки программирования как С, С++, Java, Assembler. В любом случае информация на сайте постоянно обновляется и добавляется. Материал доступен и студентам и школьникам.</h3>
<br>
<h3>Для навигации пользуйтесь верхним меню </h3>
<br>
<h3 class="pull-right">Желаю успехов!</h3>