<h2>Как изучать материал с данного сайта</h2>
<br>
<h3>На сайте вы научитесь 3-м языкам программирования с нуля, конечно же вам придётся очень много гуглить, а как без этого?
Вы должны поочерёдно пройти каждый из представленых уроков, вчитываясь в каждое слово и стараясь разобрать код.
Конечно по мере поступления информации у вас будут появляться вопросы, задавайте их в комментариях, я постараюсь вам ответить(возможно и другие студенты вам помогут)
</h3>
<br>
<h2>Зачем этот сайт, если есть огромное количество книг?</h2>
<br>
<h3>Все очень просто, это материал который проходят в Государственном Университет Молдавии, именно по этому материалу студенты пишут аттестации и сессии</h3>