@import "bootstrap-sprockets"
@import "bootstrap"


body

  position: relative
  margin-bottom: 108px
  overflow-x: hidden
  font-family: 'Open Sans', sans-serif
  color: #000
  font-size: 16px
  @media (max-width: 767px)
    margin-bottom: 150px


.navbar-default
  background-color: #FDF5E6
  .navbar-nav > li > a, .navbar-brand
    color: #000

.footer
  position: absolute
  bottom: -280px
  width: 100%
  padding: 10px
  background-color: #FDF5E6
  border: 1px solid #DCDCDC
  border-radius: 3px
  a
    padding: 0 20px
  a:visited
    color: #000
    
.col-lg-10  > h2 > a 
  color: #000
  font-size: 30px
  text-decoration: none
  font-weight: 800
  font-family: 'Open Sans', sans-serif
  
.col-lg-10  > h2 > a:hover
  font-size: 30px
  color: #808080
  font-weight: 800
  font-family: 'Open Sans', sans-serif

.home-header 
  box-shadow: 0 0 20px #888
  position: relative
  overflow: hidden
  bottom: 20px
  
  img
    position: relative
    min-width: 960px
    min-height: 300px
    width: 100%

.post-content
  font-size: 20px