<header class="header">
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
            <div class="navbar-header">
                <%= link_to 'ProgUroki', root_path, class: "navbar-brand" %>
            </div>
            
            <ul class="nav navbar-nav pull-right" class="nya">
                <li><%= link_to 'Куррикулум', pages_curriculum_path %></li>	
                    <% if current_user %>
                    <li><%= link_to 'Новая запись', new_post_path %></li>
            <% end %>
            </ul>
</div>
</nav>
</header>